body {
  background: linear-gradient(
    135deg,
    #2063a5,
    #2f9de2,
    #2c8ed1,
    #e3b78a,
    #c86b66
  );
}

.main-body {
  background: rgb(250, 243, 231);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 30px 0;
}

.search-box {
  background-color: rgb(250, 225, 186);
  border: none;
  border-radius: 40px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
  font-family: "Franklin Gothic";
}

.search-button {
  background: rgb(250, 225, 186);
  padding: 15px 30px;
  border: none;
  margin-left: 5px;
  border-radius: 40px;
  color: gray;
  font-size: 16px;
  font-family: "Franklin Gothic";
}

h1 {
  font-size: 1.8em;
}

h2,
h3 {
  font-size: 1.5em;
}

h1,
h2,
h3 {
  margin-block-start: 30px;
  font-weight: 500;
  color: #007cb9;
  display: inline;
  padding-inline-start: 10px;
  padding-inline-end: 35px;
}

.row {
  display: inline-flex;
  font-size: 1.2em;
  color: #007cb9;
  list-style: none;
  text-align: center;
  font-family: "Playfair Display";
}

.col {
  padding: 20px;
}

.col:hover {
  background-color: rgb(250, 225, 186);
  transition: all 200ms ease-in;
  border-radius: 40px;
  padding: 30px;
  margin: 40px;
  font-family: "Crimson Text";
  font-size: 1.4em;
}

.weather-app-icon {
  width: 60px;
  height: 60px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  font-family: "Franklin Gothic";
}
